body {
  background-color: #e4e9ef;
}

.user-input {
  width: 200px;
  height: 30px;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
}
.ex-space {
  margin: 4vh;
  padding: 2vh;
  min-height: 10vh;
  box-shadow: 1px 1px 3px black;
}

.ex-title {
  margin-top: 0;
  font-size: 0.5em;
  letter-spacing: 0.5px;
  color: #ff6e9f;
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#ex-2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

button {
  width: 100px;
  height: 25px;
  background-color: grey;
}

.exercise {
  margin-bottom: 10px;
}
